<div class="field">
  <%= attachment_image_tag(group, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
</div>
<div>
  グループ名
  <div class="field">
    <%= group.name %>
  </div>
</div>
<div>
  説明文
  <div class="field">
    <%= group.description %>
  </div>
</div>