<%= render '/layouts/errors', obj:  @group %>
<h2>グループ情報編集</h2>
  <div class="row">
    <%= render '/groups/group', group: @group, url: group_path(@group), submit: '更新する' %>
    <%= link_to "グループを削除する", group_deletion_path(@group), class: "btn btn-danger pull-right" %>
  </div>

