<div class="container">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-5">
            <h3>本当に退会しますか？</h3>
            <p>退会すると、ユーザー登録情報や<br>
                タスクの閲覧・通知ができなくなります。<br>
            退会する場合は、「退会する」をクリックしてください。</p>

            <%= link_to  "退会しない", root_path, class: 'btn btn-primary'  %>
            <%= link_to "退会する", user_path, method: :delete, class: "btn btn-danger" %>
        </div>
    </div>
</div>