<h3>このサイトについて</h3>

<h4>目的</h4>

<div class="box14 text-center">
  <p>
    日頃言いにくい感謝の気持ちを伝えたり、<br>
    協力して家事を行うことで効率化を図ることで<br>
    円満な家庭の継続へ結びつけること
  </p>
</div>

<p class="text-center">
  家庭は小さな集団ですが、毎日顔を合わせる大切な環境です。<br>
  家族が増えたり、ひとり立ちしたりと年月と共に変化する集団でもあります。<br>
  その変化する中でも変わらない家事という大切な工程。<br>
  この工程を協力することで協調性や人を思いやる力を養い円満な家庭へのお手伝いができたらと思っています。
</p>


<h4>できること</h4>

<div class="box14">
  <ul class="text-center">
    <li>グループ内でのタスク管理</li>
    <li>感謝を伝える</li>
    <li></li>
  </ul>
</div>