<div class="col-xs-12">
  <h3>このサイトについて</h3>

  <div class="title-box4">
    <div class="title-box4-title">目的</div>
    <p>感謝の気持ちを伝えること</p>
  </div>

  <p class="text-center">
    家庭は小さな集団ですが、毎日顔を合わせる大切な環境です。<br>
    家族が増えたり、ひとり立ちしたりと年月と共に変化する集団でもあります。<br>
    その変化する中でも変わらない家事という大切な工程。<br>
    この工程を協力することで協調性や人を思いやる力を養い、円満な家庭へのお手伝いができたらと願っています。
  </p>

  <div class="title-box4">
    <div class="title-box4-title">できること</div>
    <div class="ul-align-center">
      <ol>
        <li>・グループ内でのタスク管理</li>
        <li>・感謝を伝える</li>
      </ol>
    </div>
  </div>
</div>