<!-- スライドショー -->
<div id="main-visual">
  <div id="main-visual-content">

    <div class="main-visual-box">
      <h3 class="text-center">使い方</h3>
    </div>

    <div class="main-visual-box">
      <h3 class="text-center">１ - 会員登録する</h3>
      <ul>
        <li class="text-center">・初めての方　 → 右上「新規会員登録」へ</li>
        <li class="text-center">・既に会員の方 → 右上「ログイン」へ　　</li>
      </ul>
    </div>

    <div class="main-visual-box">
      <h3 class="text-center">２ - グループに所属する</h3>
      <ul>
        <li class="text-center">・新しく作る → 「マイページ」または「グループ一覧」へ移動しグループを作成する</li>
        <li class="text-center">・既存グループに入会する → 「グループ一覧」へ移動し入会リクエストを送る　　　</li>
        <li class="text-center">　所属の確認は「マイページ」から確認できる　　　　　　　　　　　　　　　　　　</li>
      </ul>
    </div>

    <div class="main-visual-box">
      <h3 class="text-center">３ - グループのタスク確認や登録する</h3>
      <ul>
        <li class="text-center">・グループタスクの確認 → 「マイページ」から閲覧したい所属グループ名をクリックしグループページへの移動する</li>
        <li class="text-center">・グループタスクの登録 → 「タスク登録」をクリック。必要事項を入力しタスクを登録する　　　　　　　　　　　</li>
      </ul>
    </div>

    <div class="main-visual-box">
      <h3 class="text-center">４ - グループタスクの機能</h3>
      <ul>
        <li class="text-center">・タスク実行日時に近づくとメールで通知される　　　　　　　　　</li>
        <li class="text-center">・「ありがとうボタン」を押すことで気軽にありがとうを伝えられる</li>
      </ul>
    </div>

    <div class="main-visual-box">
      <h3 class="text-center">あなたと大切な家族を素敵な日々へ</h3>
    </div>
  </div>
</div>


<div class="row">
  <h1 class="text-center">主な用途</h1>

  <div class="col-xs-4">
    <%= image_tag("conversation.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">面と向かって言いにくいこと</h4>
  </div>

  <div class="col-xs-4">
    <%= image_tag("efficiency.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">協力により効率化</h4>
  </div>

  <div class="col-xs-4">
    <%= image_tag("student.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">子どもの教育</h4>
  </div>
</div>