<!-- スライドショー -->
<div id="main-visual">
  <div id="main-visual-content">

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">使い方</h3>
      </div>
    </div>

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">１ - 会員登録する</h3>
        <div class="text-center">
          <ol>
            <li>・初めての方　 → 右上「新規会員登録」へ</li>
            <li>・既に会員の方 → 右上「ログイン」へ　　</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">２ - グループに所属する</h3>
        <div class="text-center">
          <ol>
            <li>・新しく作る　　　　　　　　　　　　　　　　　　　　　　　　　　　</li>
            <li>　→ 「マイページ」または「グループ一覧」へ移動しグループを作成する</li>
            <li>・既存グループに入会する　　　　　　　　　　　　　　　　　　　　　</li>
            <li>　→ 「グループ一覧」へ移動し入会リクエストを送る　　　　　　　　　</li>
            <li>・承認する方法　　　　　　　　　　　　　　　　　　　　　　　　　　</li>
            <li>　→ 「グループメンバー＆リクエスト一覧」から承認する　　　　　　　</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">３ - グループのタスク確認や登録する</h3>
        <div class="text-center">
          <ol>
            <li>・グループタスクの確認　　　　　　　　　　　　　　　　　　　</li>
            <li>　→ 「マイページ」から閲覧したい所属グループ名をクリックする</li>
            <li>・グループタスクの登録　　　　　　　　　　　　　　　　　　　</li>
            <li>　→ 「タスク登録」をクリックする　　　　　　　　　　　　　　</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">４ - グループタスクの機能</h3>
        <div class="text-center">
          <ol>
            <li>・タスク実行日時に近づくとメールで通知される　　　　　　　　　</li>
            <li>・「ありがとうボタン」を押すことで気軽にありがとうを伝えられる</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="main-visual-box">
      <div class="text-line">
        <h3 class="text-center">あなたと大切な家族を素敵な日々へ</h3>
      </div>
    </div>
  </div>
</div>
<!-- スライドショー -->

<div class="row">
  <h1 class="text-center">主な用途</h1>

  <div class="col-xs-4">
    <%= image_tag("conversation.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">面と向かって言いにくいこと</h4>
  </div>

  <div class="col-xs-4">
    <%= image_tag("efficiency.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">協力により効率化</h4>
  </div>

  <div class="col-xs-4">
    <%= image_tag("student.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">子どもの教育</h4>
  </div>
</div>