<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
  </div>
</div>

<div class="row">
  <h1 class="text-center">主な用途</p>
  <div class="col-xs-4">
    <%= image_tag("conversation.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">面と向かって言いにくいこと</h3>
  </div>
  <div class="col-xs-4">
    <%= image_tag("efficiency.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">協力により効率化</h3>
  </div>
  <div class="col-xs-4">
    <%= image_tag("student.jpg", :size => '150x150', :class => "center-block") %>
    <h4 class="text-center">子供の教育</h3>
  </div>
</div>