/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 80px;
  left:0;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

main {
  width: 100%;
  margin-top: 80px;
}

.sp-menu {
  display: inline-block;
}

.nav-list {
  list-style: none;
  font-size: 20px;
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* --- ハンバーガーメニュー --- */
@media screen and (max-width:425px) {
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 20px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #fff;
}

.sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
.sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}
.sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
}
/* ------------------------ */

.aqua {
  background-color: aqua;
}

#main-visual {
  width: 100%;
  height: 500px;
  background-image: url(steinplatte-1331965_1920.jpg);
  background-size: cover;
}

#main-visual-content {
  height: 500px;
}

.main-visual-box {
  top: 200px;
  }

ul {
  list-style-type: none;
}


.task-headline {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

.field {
  margin-bottom: 20px;
}

.box1 {
  padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}

.box2 {
}

.item {
  margin: 20px auto;
  border: 2px solid #CCC;
  background-color: #fabf13;
}

.description {
  width: 190px;
}

footer {
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 50px 0;
  background-color: #848282;
}
.footer-text {
  color: #fff;
}